@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  width: 1440px;
  height: 1280px;
  background-color: #0d192b
}

.container {
  height: 1453px;
  width: 858px;
  background-color: #14253d;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 601px;
  border-radius: 45px;
  box-shadow: 10px 10px 20px 40px #0f1a2a;
  
  /* width: 100px; /* Need a specific value to work */
}

.image {
  position: absolute;
  top: 59px;
  width: 784px;
  width: 729px;
  eight: 770px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.text {
  font-family: 'Outfit', sans-serif;
  font-size: 55px;
  color: #ffffff;
  position: absolute;
  top: 772px;
  left: 60px;
}

.text2 {
  font-family: 'Outfit', sans-serif;
  font-size: 48px;
  color: #627b93;
  position: absolute;
  top: 898px;
  left: 60px;
}

.diamond {
  height: 40px;
  position: absolute;
  left: 60px;
  top: 1131px;
}

.text3 {
  font-family: 'Outfit', sans-serif;
  font-size: 38px;
  color: #30f5ff;
  position: absolute;
  left: 107px;
  top: 1086px;
}

.hr {
  border: 1px solid #4e4e4e;
  width: 80%;
  position: absolute;
  left: 79px;
  top: 1238px;
}

.img2 {
  position: absolute;
  left: 60px;
  top: 1321px;
  width: 83px;
  height: 79px;
  border: 5px solid #555;
  border-radius: 50%;
}

.span {
  display: inline-block;
  color: #627b93;
  font-family: 'Outfit', sans-serif;
  font-size: 38px;
  position: absolute;
  left: 188px;
  top: 1305px;
}

.span2 {
  display: inline-block;
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  font-size: 38px;
  position: absolute;
  left: 386px;
  top: 1343px;
}
